
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; height: 100%;
}

.navigation {
    width: 70%;
    background-color: #1424b1;
}

.date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%; height: 100%;
    cursor: pointer;
}

.calendarIcon {
    content: "";
    background-image: url("../../assets/icons/calendar.svg");
    width: calc(100vw/1920 * 30);
    height: calc(100vw/1920 * 30);
    background-size: calc(100vw/1920 * 26);
    background-repeat: no-repeat;
    user-select: none;
}

.calendarTitle {
    color: var(--black-color);
    font-size: calc(100vw/1920 * 22);
    font-weight: 500;
    margin-left: 5px;
    margin-right: 10%;
    user-select: none;
}
