@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");


:root {
  --main-font: 'Inter', sans-serif;
}

body, html{
  margin: 0;
  width: 100%; height: 100%;
  background-color: #f2f2ff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app * {
  font-family: var(--main-font);
}

a {
  text-decoration: none;
}




